


  /* @layer components {
    .my-custom-style {

    }
  } */


  /* @layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }

  } */

  .scrolled {
    top: 0 !important;
  }
  .sidebar {
    right: 0; 
    display: flex;
    flex-direction: column;
    transform: translatex(100%);
    transition: transform 0.4s ease-in-out;
}



.sidebar.open {
    transform: translatex(0);
  }

  .hamburger {
    transition: transform 0.3s ease-in-out;
  }
  .line {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .open .line1 {
    transform: translateY(6px) rotate(45deg);
  }
  .open .line2 {
    opacity: 0;
  }
  .open .line3 {
    transform: translateY(-6px) rotate(-45deg);
  }

   /* end sidebar */



  .carousel {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
.carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: center;
}









@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 6));
    }
  }
  .slider {
    /* background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    /* height: 100px; */
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(150px * 12);
  }
  .slider .slide {
    /* height: 100px; */
    width: 150px;
  }



  
  /* marquee */
  
  .marquee {
    display: flex;
    width: 200%;
    animation: bannermove 20s linear infinite;
  }
  .marquee.riverse {
    animation: bannerReverse  20s linear infinite;
  }
  
  @media only screen and (max-width: 767px) {
    .marquee {
      animation: bannermove 10s linear infinite;
    }
    .marquee.riverse {
      animation: bannerReverse  10s linear infinite;
    }
    
  }


  .marquee.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  .marquee ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  .marquee li {
    width: max-content;
  }


/* Forward animation */
@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Reverse animation */
  @keyframes bannerReverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .custom-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    cursor: pointer;
  }
  .custom-arrow svg {
    stroke: #000;
  }


  .custom-arrow:hover {
    background-color: transparent;
    border: 1px solid #000;
    opacity: 1;
  }

  .custom-arrow.slick-disabled {
    cursor: default;
    opacity: 0.4;
  }








  .quote-paragraph {
    position: relative;
    padding-left: 0;
}
.quote-paragraph::before {
    content: '“';
    position: absolute;
    left: -20px;
    top: 0;
}

.quote-paragraph::after {
  content: '”';
  position: absolute;
  right: -20px;
  bottom: 0;
}


/* <br class="hidden lg:block"> */



@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1280px;
  }
}




.menu-list li {
  position: relative;
  font-size: 1rem; /* text-base */
  color: white;
  cursor: pointer;
}
.menu-list li.active {
  color: #22c55e;
}

.menu-list li.active::before {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 100%;
  background-color: #22c55e; /* green-500 */
}

@media (min-width: 768px) {
  .menu-list li.active::before {
    bottom: -15px;
  }
}